<a href="/"><div style="width: 50%;
                        height: 10%;
                        background-color: blue;
                        color: white;
                        margin: 0 auto;
                        text-align: center;
                        font-family: Helvetica,sans-serif;
                        padding: 10px;
                        font-size: 150%;
                        text-decoration: none;">Register</div></a>